##########################################################################
# Aliases for both bashrc and zshrc
# Author: Hiren Barad
# Date  : 04/01/2020
##########################################################################

# Connect to your termux
alias termux='ssh -p 8022 192.168.29.146'

# Modify zshrc
alias zshconfig='vim ~/.zshrc'

# Always copy contents of directories (r)ecursively and explain (v) what was done
alias cp='cp -rv'

# List contents with colors for file types, (A)lmost all hidden files (without . and ..), in (C)olumns, with class indicators (F)
alias ls='ls --color=auto -ACF'

# List contents with colors for file types, (a)ll hidden entries (including . and ..), use (l)ong listing format, with class indicators (F)
alias ll='ls --color=auto -alF'

# some more ls aliases
alias la='ls -A'
alias l='ls -CF'

# Explain (v) what was done when moving a file
alias mv='mv -v'

# Create any non-existent (p)arent directories and explain (v) what was done
alias mkdir='mkdir -pv'

# Always try to (c)ontinue getting a partially-downloaded file
alias wget='wget -c'

# Find current directory for given name
alias fhere="find . -name "

# cd using ..
alias ..="cd .."

# Search history for command
alias histg="history | grep"

# Upgrade Pip
alias pipup="pip install --upgrade pip"

# Exit
alias e="exit"

# Clear
alias cl="clear"

# Create a directory and move into it
mcd () {
    mkdir -p $1
    cd $1
}

# Extract any compressed file
function extract {
 if [ -z "$1" ]; then
    # display usage if no parameters given
    echo "Usage: extract <path/file_name>.<zip|rar|bz2|gz|tar|tbz2|tgz|Z|7z|xz|ex|tar.bz2|tar.gz|tar.xz>"
    echo "       extract <path/file_name_1.ext> [path/file_name_2.ext] [path/file_name_3.ext]"
    return 1
 else
    for n in $@
    do
      if [ -f "$n" ] ; then
          case "${n%,}" in
            *.tar.bz2|*.tar.gz|*.tar.xz|*.tbz2|*.tgz|*.txz|*.tar) 
                         tar xvf "$n"       ;;
            *.lzma)      unlzma ./"$n"      ;;
            *.bz2)       bunzip2 ./"$n"     ;;
            *.rar)       unrar x -ad ./"$n" ;;
            *.gz)        gunzip ./"$n"      ;;
            *.zip)       unzip ./"$n"       ;;
            *.z)         uncompress ./"$n"  ;;
            *.7z|*.arj|*.cab|*.chm|*.deb|*.dmg|*.iso|*.lzh|*.msi|*.rpm|*.udf|*.wim|*.xar)
                         7z x ./"$n"        ;;
            *.xz)        unxz ./"$n"        ;;
            *.exe)       cabextract ./"$n"  ;;
            *)
                         echo "extract: '$n' - unknown archive method"
                         return 1
                         ;;
          esac
      else
          echo "'$n' - file does not exist"
          return 1
      fi
    done
fi
}

# Start firefox in background
alias firefox="nohup firefox &"

# BurpSuite
alias burp="cd ~/Downloads/BurpSuite && java -Xbootclasspath/p:BurpKeygen.jar -jar burpsuite_pro_v2.0.11beta.jar &"

# vscode to open current directory
alias codehere="code . &"
